body {
    background-color: #343a40;
}

h1 {
    color: #fff;
}

input.form-control.form-control-sm {
    background-color: #343a40;
    color: #fff;
}

select.custom-select.custom-select-sm.form-control.form-control-sm {
    background-color: #343a40;
    color: #fff;
}
